<br>
<div class="row-fluid">
    <div class="span12">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="{{=URL('static', 'images/carousel/img0.jpg')}}" style="higth:50%">
                    <div class="carousel-caption">
                        <h4>JNSP 2015</h4>
                        <p>Jornadas Nacionales del Sector Público 2015</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{=URL('static', 'images/carousel/img1.jpg')}}" style="higth:50%">
                    <div class="carousel-caption">
                        <h4>Catedral Basílica de Nuestra Señora del Valle</h4>
                        <p>Patrimonio histórico de la Provincia de Catamarca por su riqueza arquitectónica colonial. Un símbolo para los provincianos.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{=URL('static', 'images/carousel/img2.jpg')}}" style="higth:50%">
                    <div class="carousel-caption">
                        <h4>San Fernando del Valle de Catamarca</h4>
                        <p>Sede de la XI Jornada Nacinal del Sector Público que reuné a profesionales en materia de Economía</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{=URL('static', 'images/carousel/img4.jpg')}}" style="higth:50%">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <!-- Carousel nav
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
             -->
        </div>
    </div>
</div>