{{extend 'layout.html'}}

<br />
<div class='row'>
    <div class='well well-small'>
        <div class='row-fluid'>
            <h3>
                Formulario de Inscripción
            </h3>
            <hr class='bs-docs-separator' />
        </div>
        <div class='row-fluid'>
            <div class='span6'>
                {{=form}}
            </div>
            
            <div class='span6'>
                <div class='row'>
                    <div class="alert alert-warning">
                        <ul>
                            <li><strong>Inscripciones abiertas</strong> - Plazo vence el 10/04/2015</li>
                            <li>Presente su trabajo de investigación hasta el día 31/03/2015, así obtendra un importante descuento en su inscripción</li>
                            <li><u>Costos:</u>
                                <ul>
                                    <li><strong>Asistentes: $1.800 </strong>- Incluye lunch de bienvenida, acceso a las conferencias, material de capacitación, certificado de asistencia y cena de despedida.</li>
                                    <li><strong>Observadores: $1.800 </strong>- Idem anterior.</li>
                                    <li><strong>Acompañantes: $1.000</strong>, el que incluye lunch de bienvenida y cena de despedida.</li>
                                    <li><strong>Asistentes locales (Catamarca): $1.600</strong></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='row'>
                    <div class="alert alert-error">
                        <ul>
                            <li><strong>Cuenta Bancaria de Depósito</strong></li>
                            <li><u>Datos Banco Nación:</u>
                                <ul>
                                    <li><strong>Cta Cte:</strong> 4660222240</li>
                                    <li><strong>CBU Nº:</strong> 0110466420046602222404</li>
                                    <li><strong>CUIT:</strong> 30-58432776-2</li>
                                    <li><strong>Titular:</strong> Consejo Profesional de Ciencias Económicas de Catamarca</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{=windows['profesion']}}
{{=windows['transporte']}}
