{{extend 'layout.html'}}

<br />
<div class='row'>
    <div class='well well-small'>
        <h3>Formulario de Inscripción</h3>
        <hr class='bs-docs-separator' />
        <div class="alert alert-warning">
            <ul>
                <li><strong>Inscripciones abiertas</strong> - Plazo vence el 10/04/2015</li>
                <li>Presente su trabajo de investigación hasta el día 31/03/2015, así obtendra un importante descuento en su inscripción</li>
                <li><u>Costos:</u>
                    <ul>
                        <li><strong>Asistentes: $1.800 </strong>- Incluye lunch de bienvenida, acceso a las conferencias, material de capacitación, certificado de asistencia y cena de despedida.</li>
                        <li><strong>Acompañantes: $1.000</strong>, el que incluye lunch de bienvenida y cena de despedida.</li>
                        <li><strong>Asistentes locales (Catamarca): $1.600</strong></li>
                    </ul>
                </li>
            </ul>
        </div>
        {{=form}}
    </div>
</div>

{{=windows['profesion']}}
{{=windows['transporte']}}