
<div class="row">
    <div class='span4'>
        <h5 class='alert alert-notification'>
            Auspiciantes del evento
        </h5>
    </div>

    <div class="span4">
        <img src="{{=URL('static', 'images/publicidad/gobierno_catamarca_thumb.jpg')}}" class='img-publicidad'/>
    </div>

    <div class='span4'>
        <img src="{{=URL('static', 'images/publicidad/facpce.jpg')}}" class='img-publicidad'/>
    </div>
</div>

<div class="row">
    <div class='span4'>
        <h5 class='alert alert-notification'>
            Información de contacto
        </h5>
    </div>
    <div class="span4">

        <table class="table table-condensed" style="width:80%;">
            <tbody>
                <tr>
                    <td>{{=I(_class='icon-user')}}</td>
                    <td>
                        
                            Concejo Profesional de Ciencias Económicas de Catamarca
                        
                    </td>
                </tr>
                <tr>
                    <td>{{=I(_class='icon-book')}}</td>
                    <td>(+54) 3834 - 4438794</td>
                </tr>
                <tr>
                    <td>{{=I(_class='icon-envelope')}}</td>
                    <td><a href="mailto:#">cpcecat@cpcecat.org.ar</a></td>
                </tr>
                <tr>
                    <td>{{=I(_class='icon-home')}}</td>
                    <td> Republica 754 - San Fdo del Valle de Cta </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class='span4'>
        <h5 class='alert alert-notification'>
            Puntos de Interes
        </h5>
    </div>
    <div class="span4">
        <iframe width="90%" height="350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zHHx5yPmbVHE.k5YI86SMvOuo"></iframe>
    </div>
</div>
