{{extend 'layout.html'}}
<br>
<div class='row'>
    <div class='well well-small'>
        <h4>CONSEJO PROFESIONAL DE CIENCIAS ECONÓMICAS DE CATAMARCA CRONOGRAMA DE ACTIVIDADES TENTATIVO</h4>
        <table class='table table-bordered'>
            <tbody>
                <tr>
                    <td rowspan=2>HORARIOS</td>
                    <td>COMÚN A LAS ÁREAS | ÁREA I - II - III</td>
                </tr>
                <tr>
                    
                    <td>MIÉRCOLES 20-05-15</td>
                    <td>JUEVES 21-05-15</td>
                    <td>VIERNES 22-05-15</td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
