{{extend 'layout.html'}}

<div class='row'>
    <div class='well well-small'>
        <div class='row-fluid'>
            <h2>Puntos de interes</h2>
            <hr class='bs-docs-separator' />
            <center>
                <div class='span12'>
                    <iframe width="90%" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zHHx5yPmbVHE.k5YI86SMvOuo"></iframe>
                </div>
            </center>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.star').css('border', 'none');
    )}
</script>
