{{extend 'layout.html'}}
<br>
<div class='row'>
    <div class='well well-small'>
        <div class='row-fluid'>
            <h2>Puntos de interes</h2>

            <hr class='bs-docs-separator' />

            <center>
                <div class='span12'>
                    <iframe width="90%" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zHHx5yPmbVHE.k5YI86SMvOuo"></iframe>
                </div>
            </center>
            <br>
            <hr class='bs-docs-separator' />
            <p>Utilice esta sección para mostrar diferentes puntos atractivos en la Ciudad de Catamarca:</p>
            <ul>
                <li>Hoteles</li>
                <li>Cine/Teatros</li>
                <li>Centros Culturales</li>
                <li>Casinos</li>
                <li>Restaurantes</li>
                <li>Etc...</li>
            </ul>
        </div>
    </div>
</div>
