{{extend 'layout.html'}}
<br>
<div class='row'>
    <div class='well well-small'>
        <div class='row-fluid'>
            <h2>Puntos de interes</h2>

            <hr class='bs-docs-separator' />

            <center>
                <div class='span12'>
                    <iframe width="90%" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zHHx5yPmbVHE.k5YI86SMvOuo"></iframe>
                </div>
            </center>
            <br>

            <hr class='bs-docs-separator' />

            <h2>Listado de Hoteles</h2>
            <hr class='bs-docs-separator' />

            <table class='table table-condensed'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Correo electrónico</th>
                        <th>Sitio Web</th>
                    </tr>
                </thead>
                <tbody>
                    {{for hotel in hoteles:}}
                        <tr>
                            <td><strong>{{=hotel.nombre}}</strong></td>
                            <td>{{=TABLE(TBODY(TR(*[TD(I(_class='icon-star')) for i in range(hotel.categoria)])))}}
                            </td>
                            <td>{{=hotel.direccion or '-'}}</td>
                            <td>{{=hotel.telefono or '-'}}</td>
                            <td>{{=hotel.mail or '-'}}</td>
                            <td>{{if hotel.web:}}
                                    <a href='{{=hotel.web}}'>
                                        <img src='{{=URL("static", "images/webicon.png")}}' />
                                    </a>
                                {{pass}}
                            </td>
                        </tr>
                    {{pass}}
                </tbody>
            </table>


        </div>
    </div>
</div>
