{{extend 'layout.html'}}
<br>

<div class='row'>
    <div class='well well-small'>

        <div class='row-fluid'>
            <div class='pull-left'>
                <h4>REGLAMENTO</h4>
            </div>
            <div class='pull-right'>
                {{=A(I(_class='icon-chevron-down'), ' Descargar',
                     _href=URL(r=request, c='static', f='pdfs/reglamento.pdf'),
                     _class='btn btn-small')}}
            </div>
        </div>
        <hr class='bs-docs-separator' />

        <div class='row-fluid'>
            <div class="span12">
                
                <div class="accordion" id="accordion_reglamento">
                    {{for item in reglamento:}}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_reglamento" href={{="#collapse_%s" % item.id}}>
                                    <h5>{{=item.titulo}}</h5>
                                </a>
                            </div>
                            <div id={{="collapse_%s" % item.id}} class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class='notice'>
                                        {{if auth.has_membership('administrador'):}}
                                             {{=A(I(_class='icon-pencil'), ' Editar', 
                                                  _href=URL(c='administracion', f='edit_rt', args=(item.id), user_signature=True))}}
                                             <hr class='bs-docs-separator' />
                                        {{pass}}
                                        {{=XML(item.cuerpo)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{pass}}
                </div>

            </div>
        </div>


        <div class='row-fluid'>
            <div class='pull-left'>
                <h4>TEMARIO</h4>
            </div>
            <div class='pull-right'>
                {{=A(I(_class='icon-chevron-down'), ' Descargar',
                     _href=URL(r=request, c='static', f='pdfs/temario.pdf'),
                     _class='btn btn-small')}}
            </div>
        </div>
        <hr class='bs-docs-separator' />

        <div class='row-fluid'>
            <div class="span12">
                
                <div class="accordion" id="accordion_temario">
                    {{for item in temario:}}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_temario" href={{="#collapse_%s" % item.id}}>
                                    <h5>{{=item.titulo}}</h5>
                                </a>
                            </div>
                            <div id={{="collapse_%s" % item.id}} class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class='notice'>
                                        {{if auth.has_membership('administrador'):}}
                                             {{=A(I(_class='icon-pencil'), ' Editar', 
                                                  _href=URL(c='administracion', f='edit_rt', args=(item.id), user_signature=True))}}
                                             <hr class='bs-docs-separator' />
                                        {{pass}}
                                        {{=XML(item.cuerpo)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{pass}}
                </div>

            </div>
        </div>


        <div class='row-fluid'>
            <div class='pull-left'>
                <h4>NORMAS DE PROCEDIMIENTOS</h4>
            </div>
        </div>
        <hr class='bs-docs-separator' />

        <div class='row-fluid'>
            <div class="span12">
                
                <div class="accordion" id="accordion_normas">
                    {{for item in normas:}}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_normas" href={{="#collapse_%s" % item.id}}>
                                    <h5>{{=item.titulo}}</h5>
                                </a>
                            </div>
                            <div id={{="collapse_%s" % item.id}} class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class='notice'>
                                        {{if auth.has_membership('administrador'):}}
                                             {{=A(I(_class='icon-pencil'), ' Editar', 
                                                  _href=URL(c='administracion', f='edit_rt', args=(item.id), user_signature=True))}}
                                             <hr class='bs-docs-separator' />
                                        {{pass}}
                                        {{=XML(item.cuerpo)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{pass}}
                </div>

            </div>
        </div>

    </div>
</div>
